@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

:root {
    --text: #252525;
    --background: #F9F7F7;
    --accent: #1A1A1A;
}

html[data-theme="dark"] {
    --text: #F9F7F7;
    --background: #252525;
    --accent: #9A9A9A;
}

:root {
    --border-width: 3px;
    --transition-lenght: 100ms;

    --primary: #a90f0f;
    --secondary: #a90f0f;
}

::-webkit-scrollbar {
    display: none;
}

.blue {
    color: var(--primary);
}

.red {
    color: var(--secondary);
}

.korean {
    font-family: 'Noto Serif KR', serif;
}

body {
    font-family: 'Poppins';
    font-weight: 400;

    background-color: var(--background);
    background-image: url("taekwondo-bg.png");
    background-size: 90px;
    background-repeat: repeat;

    color: var(--text);

    position: relative;
    min-height: 100vh;
}

html[data-theme="dark"] body {
    background-image: url("taekwondo-bg-dark.png");
}

.scroll-wrapper {
    width: 3px;
    height: 60vh;

    position: fixed;

    right: 1.5rem;
    top: 20vh;
}

.scroll-bar {
    width: 100%;
    height: 100%;

    background: var(--primary);
}

#text-ball-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;

    width: 250px;

    position: absolute;
    right: -6px;
    top: calc(0% - 15px);
}

#text-ball-wrapper .scroll-ball {
    width: 15px;
    height: 15px;
    border-radius: 15px;

    background: var(--primary);
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins';
    font-weight: 700;
}

p {
    text-align: justify;
    opacity: 0.8;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

* {
    margin: 0;
    padding: 0;
}

header {
    z-index: 10;

    padding: 0.5rem 2rem;

    display: flex;
    justify-content: space-between;
    gap: 1rem;

    position: sticky;
    inset: 0;

    background: var(--background);
    box-shadow: 0 0.5rem 1rem 0 var(--background);
}

header .header-text {
    display: flex;
    text-align: start;
    align-items: center;
}

header .header-search {
    display: flex;
    align-items: center;
    justify-content: end;
}

header .header-search fieldset {
    border: var(--border-width) solid var(--accent);
    border-radius: 0.5rem;
    font-size: 1.777rem;
    padding: 0.5rem;

    transition: var(--transition-lenght) linear;
}

header .header-search fieldset label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

header .header-search fieldset label span {
    font-size: 1.777rem;

    transition: var(--transition-lenght) linear;
}

header .header-search input[type="text"] {
    all: unset;
}

header .header-search fieldset:has(input[type="text"]:focus),
header .header-search fieldset:has(input[type="text"]:active),
header .header-search fieldset:has(input[type="text"]:hover) {
    border-color: var(--primary);
}

header .header-search fieldset:has(input[type="text"]:focus) label span,
header .header-search fieldset:has(input[type="text"]:active) label span,
header .header-search fieldset:has(input[type="text"]:hover) label span {
    color: var(--secondary);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 0 auto;

    max-width: 80vw;
}

main h3 {
    width: 100%;
    text-align: center;
}

main .line {
    height: 0.25rem;
    width: 66%;
    border-radius: 0.25rem;
    background: var(--primary);
}

main section {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .category {
    margin-bottom: 2rem;
    width: 100%;
    padding: 2rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    text-align: start;
}

main .card {
    max-width: 600px;
    height: 100%;

    border-radius: 1rem;
    border: var(--border-width) solid var(--accent);
    background: var(--background);

    display: flex;
    align-items: start;
    justify-content: center;
    gap: 0.5rem;

    padding: 1rem;

    box-shadow: 0 0.5rem 1rem -0.8rem var(--accent);
}

main .card .img-wrapper {
    flex: 1;
    display: flex;
    align-items:center;
    justify-content: center;
}

main .card .img-wrapper img {
    width: 100%;
    height: 100%;

    object-fit: contain;

    border-radius: 0.75rem;

    box-shadow: 0 0.5rem 1rem -0.8rem var(--accent);
}

main .card .text-wrapper {
    flex: 1;
    text-align: justify-all;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

footer {
    position: absolute;

    bottom: 0;
    width: 100%;

    background: var(--background);
    border-top: var(--border-width) solid var(--accent);
}

footer p {
    opacity: 1;
    background: inherit;
    text-align: center;
}

.hidden {
    display: none !important;
}

@media screen and (max-width: 1200px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .scroll-wrapper {
        display: none;
    }
}

